body{
    background-color: black;
    color: white;
}

a1{
    background-color: aquamarine;

}
.box1{
    height: 200px;
    width: 200px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: 5px solid blue;
    background-color: #ac8eee;
    color:black;
}

.box2{
    height: 200px;
    width: 200px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: 5px solid blue;
    color:black;
}